<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Autor</title>
    {% extends 'base.html' %}
</head>
<body>
    

{% block title %}Adicionar Autor{% endblock %}

{% block content %}
<h1>Adicionar Autor</h1>
<form method="post">
    {% csrf_token %}
    Nome: <input type="text" name="nome"><br>
    Nacionalidade: <input type="text" name="nacionalidade"><br>
    <button type="submit">Salvar</button>
</form>
<a href="{% url 'listar_autores' %}">Voltar</a>
{% endblock %}

</body>
</html>